# Configuración de la Base de Datos
DB_HOST=tu-instancia-rds.region.rds.amazonaws.com
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=dazzart

# URLs permitidas
FRONTEND_URL=https://tu-dominio-frontend.com
MOBILE_URL=https://tu-dominio-movil.com

# Ambiente (development/production)
NODE_ENV=production

# Puerto del servidor
PORT=3001

# Configuración de seguridad
JWT_SECRET=tu_secreto_jwt_seguro

# Ruta para archivos estáticos (imágenes)
UPLOAD_PATH=/ruta/absoluta/a/tu/carpeta/imagenes