.admin-content {
  margin-left: 20%;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
 
}

/* estilos para el footer pagina principal*/
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cliente-home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cliente-home-container main {
  flex: 1;
}
